### Chargement des données

In [ ]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Othman SALAHI\Desktop\STUDY\DATA MINING\DATA\Housing.csv')

df = pd.DataFrame(df)
print(df.head())


print('les lignes et les colonnes du dataset sont :')
print(df.shape)

print('les colonnes sont :')
print(df.columns)

print('les types des colonnes sont :')
print(df.dtypes)


colonnes_numeriques=df.select_dtypes(include=["number"]).columns
colonnes_categoriques = df.select_dtypes(exclude=["number"]).columns
print(f"Colonnes numériques : {len(colonnes_numeriques)}")
print(f"Colonnes catégoriques : {len(colonnes_categoriques)}")

print("etat general de database :")
print(df.info())
print('les valeurs manquantes :')
print(df.isnull)

      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished
les lignes et les colonnes du dataset sont :
(545, 13)
les colonnes sont :
Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')
les types des colonnes sont :
price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object
Colonnes numériques : 6
Colonnes catégoriques : 7
etat general de database :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
None
les valeurs manquantes :

AttributeError: 'function' object has no attribute 'sum'